body {
    padding: 0px !important;
    overflow: auto !important;
}

.main-collection {
    display: flex;
    gap: 20px;

    .collection-left {
        background: rgba(255, 255, 255, 0.08);
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        height: 550px;

        .padding-top {
            padding-top: 30px;
        }

        legend {
            font-weight: 700;
            color: white;
        }

        .MuiFormControlLabel-label {
            font-size: 14px;
        }
    }

    .collection-right {
        .item_product {
            height: 315px !important;
        }
    }

    .collection-img {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        margin: auto;

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }

    .info-product {
        text-align: left;
        padding: 10px;

        button {
            font-size: 12px;
            border-radius: 3px;
            background: #1AA0FF;
            padding: 3px 20px;
            margin-right: 10px;
        }

        p {
            font-size: 16px;
        }

        .padding-bottom {
            padding-bottom: 18px;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        ul {
            li {
                .css-1v2lvtn-MuiPaginationItem-root {
                    color: white;
                }
            }
        }
    }
}

.info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .filter-item {
        display: flex;

        .MuiSelect-select {
            padding: 10px;
            color: white;
            border: 1px solid #444444;
        }

        .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
            color: white;
        }
    }
}

@media (max-width: 900px) {
    .main-collection {
        display: inline;

        .marketplace-items {
            grid-template-columns: repeat(3, 1fr) !important;
        }

        .collection-left {
            height: 330px;
            width: 100%;
            margin-bottom: 30px;

            .padding-top {
                padding-top: 0;
            }

            .mobile-checkbox {
                width: 100%;
                flex-direction: row;

                .left-mobile {
                    width: 50%;
                }

                .right-mobile {
                    width: 50%;
                }
            }

        }
    }
}


@media (max-width: 425px) {
    .main-collection {

        .marketplace-items {
            grid-template-columns: repeat(1, 1fr) !important;

            .item_product {
                height: 335px !important;
            }
        }
    }
}