@import '../helpers/global';

.collection-container {
    padding: 0px;
    margin: 0px auto;
    max-width: 100vw;

    a,
    button {
        color: inherit;
        font: inherit;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        background: #fff;
    }
    .collection-banner-image {
        height: 300px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        // margin: 20px 0px 20px calc(-50vw + 50%);
    }
}

.box-collection {
    max-width: 1600px;
    margin: 0 auto;



    .collection-details-box {
        max-width: 1320px;
        margin: 0px auto 10px;

        .collection-info {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 20px;
            -webkit-box-pack: justify;
            justify-content: space-between;

            .collection-info-left {
                display: flex;

                img {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    margin-top: -62px;
                }

                .name {
                    margin-top: 10px;
                    padding: 0px 30px;

                    .fullname {
                        font-size: 24px;
                        margin-bottom: 5px;
                        font-weight: 600;
                    }

                    // .username {
                    //     font-size: 18px;
                    //     color: #fff;
                    //     overflow: hidden;
                    //     position: relative;
                    //     mix-blend-mode: lighten;
                    //     background-color: #000;
                    //     display: inline-block;
                    // }

                    // .username::before {
                    //     content: "";
                    //     display: block;
                    //     position: absolute;
                    //     inset: 0px;
                    //     background: linear-gradient(to right, #f261b7, #6182fd);
                    //     mix-blend-mode: multiply;
                    // }
                    .username {
                        font-size: 18px;
                        font-weight: 600;
                        background: linear-gradient(45deg, #f261b7 14%, #6182fd 30%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .collection-info-right {
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;

                .collection-info-right-details {
                    padding: 0px 30px;
                    text-align: center;
                    border-right: 1px solid #ffffff26;

                    .value {
                        font-size: 26px;
                        margin-bottom: 5px;
                        font-weight: 600;
                    }

                    .label {
                        color: rgb(227, 100, 190);
                        font-size: 18px;
                        font-family: BrandonLight, sans-serif;
                    }
                }

                .collection-info-right-details:last-child {
                    padding-right: 0px;
                    border-right: none;
                }
            }
        }
    }

    .marketplace {
        display: block;
        position: relative;
        margin: 120px auto 60px;
        width: 100%;
        gap: 20px;
        place-items: center;
        max-width: 1380px;
        grid-template-columns: repeat(5, 1fr);

        .marketplace-collection-tittle {
            position: relative;
            top: -70px;
            left: 0px;
            right: 0px;
            font-family: BrandonBlack, sans-serif;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 26px;
            letter-spacing: -1px;
            margin: 25px 0px 10px;
            font-weight: bold;
        }

        .marketplace-items {
            margin: 0px;
            width: 100%;
            position: relative;
            display: grid;
            gap: 20px;
            place-items: center;
            max-width: 1380px;
            grid-template-columns: repeat(5, 1fr);

            a {
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px 5px #f0ebfc;
            }

            .item_product {
                width: 260px;
                height: 480px;
                display: flex;
                flex-flow: row wrap;
                border-radius: 15px;
                background-color: rgba(255, 255, 255, 0.08);
                overflow: hidden;
                transition: transform 0.15s ease-in-out 0s;
                cursor: pointer;
                margin: 0px;

                .item_product_detail {
                    width: 100%;
                    padding: 0px 15px;
                    border-right: none;

                    .card {
                        padding: 15px 0px 0px;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;

                        img {
                            width: 80%;
                            height: 240px;
                            object-fit: contain;
                        }
                    }

                    .owner_product {
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        margin-top: auto;
                        margin-bottom: 0.5rem;
                        font-size: 18px;

                        a {
                            box-shadow: none;
                        }

                        .owner_product_box {
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            font-size: 15px;
                            letter-spacing: -1px;

                            .owner_product_avatar {
                                width: 24px;
                                height: 24px;
                                margin-right: 7px;
                                border-radius: 100%;
                                box-shadow: rgb(255 255 255 / 76%) 0px 0px 0px 1px;
                                overflow: hidden;

                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }

                        .owner_product_box::after {
                            background-color: transparent;
                            background-position: 50% center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            content: "";
                            display: block;
                            margin: 0px 0px 0.3125rem 0.2rem;
                            width: 0.55rem;
                            height: 0.55rem;
                            background-image: url("./../../../assets/img/verify-icon.png");
                        }

                        .status {
                            color: #00fe7a;
                            font-size: 12px;
                        }
                    }

                    .product_name {
                        margin: 0px 0px 10px;
                        font-size: 18px;
                        text-align: left;
                        font-family: BrandonBlack, sans-serif;
                        overflow: hidden;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .box-price {
                        border-right: 1px solid #5a5a5a;

                        .price {
                            font-size: 14px;
                        }

                        .currency {
                            font-size: 18px;
                            text-transform: uppercase;
                        }
                    }

                    .remaining {
                        font-size: 14px;
                    }

                    .remaining-total {
                        font-size: 18px;
                    }
                }

                .item_product_detail:nth-child(1) {
                    width: auto;
                    font-size: 13px;
                    margin: 10px 0px 5px;
                    padding: 0px 0px 0px 15px;
                    flex: 1 1 0%;
                }

                .item_product_detail:nth-child(2) {
                    width: auto;
                    text-align: right;
                    margin: 10px 0px 5px;
                    color: var(--font-color-aeaecb);
                    opacity: 0.8;
                    font-size: 13px;
                    padding-left: 0px;
                    text-transform: uppercase;
                }

                .item_product_detail:nth-child(5) {
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    text-align: center;
                }

                .item_product_detail:nth-last-child(1),
                .item_product_detail:nth-last-child(2) {
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.08);
                    padding: 15px 0px;
                    width: 50%;
                    font-size: 0.6875rem;
                }
            }
        }
    }
}

.price-collection-view-page {
    width: 100%;
    max-width: 1380px;
    margin: 0px auto;
    padding: 10px 0px;

    .price-collection-box {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $dark-color-primary;
        padding-bottom: 40px;
        margin-bottom: 20px;

        .token-showcase-box {
            position: relative;
            width: 50%;
            border-right: 1px solid $dark-color-primary;

            video {
                display: block;
                width: 85%;
                margin: auto;
                padding-top: 100px;
                -webkit-transform: translateX(10px);
            }
        }

        .token-details-box {
            text-align: center;
            width: 500px;
            margin: 0px 30px;

            .box-owner-product {
                margin: 0px auto;
                display: flex;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                width: 60%;
                border-bottom: 1px solid $dark-color-primary;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background-color: white;
                }

                .name-owner-product {
                    .btn-name-owner-product {
                        display: flex;
                    }

                    .btn-name-owner-product::after {
                        background-color: transparent;
                        background-position: 50% center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        content: "";
                        display: block;
                        margin: 0px 0px 0.3125rem 0.2rem;
                        width: 0.55rem;
                        height: 0.55rem;
                        background-image: url("./../../../assets/img/verify-icon.png");
                    }
                }
            }

            .btn-buy-now {
                font-size: 12px;
                color: $dark-color-green;
                opacity: 1;
                text-transform: uppercase;
            }

            .box-name-collection {
                margin: 15px 0px;

                .name-collection {
                    font-size: 38px;
                    text-transform: uppercase;
                }
            }

            .authenticity-button {
                font-size: 14px;
                color: $pink-color-primary;
                margin-bottom: 20px;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
            }

            .box-price-collection {
                display: flex;
                flex-wrap: wrap;

                .box-price-detail-collection {
                    -webkit-box-flex: 1;
                    flex-grow: 1;
                    width: 33px;
                }

                .box-price-detail-collection:not(:last-child) {
                    border-right: 1px solid $dark-color-primary;
                }

                .lable-top {
                    font-size: 14px;
                }

                .lable-bottom {
                    font-size: 32px;
                }
            }

            .box-purchase-price {
                position: relative;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                height: 120px;
                border: 1px solid $dark-color-primary;
                border-radius: 60px;
                margin: 40px 0px;

                .lable-top {
                    font-size: 12px;
                    color: $pink-color-primary;
                    margin-top: 10px;
                }

                .lable-bottom {
                    font-size: 42px;
                    text-transform: uppercase;
                }
            }

            .btn-sale-collection {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 28px;
                border-radius: 16px;
                display: block;
                width: 100%;
                padding: 20px;
                color: $pink-color-white;
                background: linear-gradient(to left, rgb(103, 129, 249), rgb(227, 100, 190));
            }
        }

        .token-details-box>div {
            margin-bottom: 20px;
        }
    }

    .title-sale-by-Collectors {
        text-align: center;
        font-size: 40px;
        letter-spacing: -1.2px;
    }

    .sub-title-sale-by-Collectors {
        text-align: center;
        font-size: 22px;
        letter-spacing: -0.6px;
    }

    .userSales {
        position: relative;
        margin: 120px auto 60px;
        gap: 20px;
        display: block;
        margin-top: 80px;
        width: 100%;
        place-items: center;
        max-width: 1380px;
        grid-template-columns: repeat(5, 1fr);

        .filter-box {

            .search-box {
                flex: 1 1 0%;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                margin: 0px 0px 20px;
                height: calc($header-height - 5px);
                background-color: $font-dark-color-15;
                border-radius: 50vh;
                position: relative;
                max-width: 600px;

                input {
                    width: calc(100% - 60px);
                    display: block;
                    margin: 0px -15px 0px 0px;
                    padding: 0px;
                    height: 100%;
                    color: $dark-color-primary;
                    border: 1px solid $dark-color-primary;
                    border-radius: 50px;
                    overflow: visible;
                    outline: none;
                    font-size: 20px;
                }
            }

            .type-filter-box {
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                align-items: center;
                padding-bottom: 30px;

                .type-filter-box-left {
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;

                    .type-filter-item {
                        margin-right: 30px;
                        padding: 0px;
                        font-size: 20px;
                    }

                    .active {
                        border-bottom: 3px solid rgb(248, 143, 198);
                    }
                }

                .type-filter-box-right {
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;


                }
            }
        }

        .marketplace-items {
            position: relative;
            width: 100%;
            gap: 20px;
            place-items: center;
            max-width: 1380px;
            grid-template-columns: repeat(5, 1fr);

            .list-carousel {
                gap: 20px;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                position: relative;
                flex-wrap: wrap;
            }

            .slide-item {
                flex: 0 0 auto;
                width: 260px;
                position: relative;
            }

            .hot-ollectibles-item:nth-child(1) {
                width: auto;
                font-size: 13px;
                margin: 10px 0px 5px;
                padding: 0px 0px 0px 15px;
                flex: 1 1;
            }

            .hot-ollectibles-item:nth-child(2) {
                width: auto;
                text-align: right;
                margin: 10px 0px 5px;
                color: #aeaecb;
                opacity: 0.8;
                font-size: 13px;
                padding-left: 0px;
                text-transform: uppercase;
            }

            .hot-ollectibles-item:nth-child(3) {
                .img-token {
                    width: 80%;
                    height: 250px;
                    margin: 10px auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .hot-ollectibles-item:nth-child(4) .wrapper-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0.5rem;
                font-size: 18px;

                .content-left{
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    letter-spacing: -1px;

                    .avatar{
                        width: 24px;
                        height: 24px;
                        margin-right: 7px;
                        border-radius: 100%;
                        box-shadow: rgb(0 0 0 / 76%) 0px 0px 0px 1px;
                        overflow: hidden;

                        img{
                            width: 100%;
                        }
                    }
                }

                .content-right{
                    color: $dark-color-green;
                }
            }

            .hot-ollectibles-item:nth-child(5) {
                display: flex;
                justify-content: center;
                text-align: center;

                .name-label{
                    margin: 0px 0px 10px;
                    font-size: 18px;
                    text-align: left;
                    overflow: hidden;
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .hot-ollectibles-item:nth-child(6) {
                text-align: center;
                background-color: rgba(68, 64, 64, 0.08);
                padding: 15px 0px;
                width: 50%;
                font-size: 0.6875rem;

                .wrapper-price{
                    border-right: 1px solid #5a5a5a;
                }
            }

            .hot-ollectibles-item:nth-child(7) {
                text-align: center;
                background-color: rgba(68, 64, 64, 0.08);
                padding: 15px 0px;
                width: 50%;
                font-size: 0.6875rem;
            }
        }
    }
}