//home page
@import '../helpers/global';
@import '../helpers/variables';
// homepage PC
.home-page {
  min-height: calc(100vh - 50px - 215px - 65px);
  background: #02021e;
  // section-01
  .section-01 {
    width: 100%;
    margin: 0px auto;
    .content-header {
      width: 100%;
      max-width: 1280px;
      padding: 90px 40px 30px 40px;
      z-index: 1;
      position: relative;
      margin: auto auto 150px;
      color: #ffffff;

      .text-head {
        font-size: 50px;
        margin-bottom: 5px;
        line-height: 54px;
        // font-family: VennExBold, sans-serif;
        font-style: normal;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
      }

      .text-bottom {
        font-size: 22px;
        max-width: 480px;
        margin-bottom: 30px;
        // font-family: venn, sans-serif;
        font-style: normal;
        font-weight: 500;
      }
    }

    .home-carousel {
      z-index: 50;
      padding-bottom: 20px;
      .custom-dot {
        .react-multi-carousel-dot--active button {
          background: #944fff;
        }
      }
      .slide-item {
        display: flex;

        & > * {
          flex: 1 1 100%;
          margin: 0 20px;

          img {
            border-radius: 20px;
            width: 100%;
            max-height: 280px;
            object-fit: cover;
          }
        }
      }
    }
  }
  //section 02
  .section-02 {
    color: #ffffff;
    width: min(100%, 1280px);
    padding: 0 40px;
    margin: auto;
    .featured-collections {
      // margin-bottom: 105px;
      padding-bottom: 105px;
      .wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin: 100px auto 10px;
        padding: 100px 0 10px;
        font-weight: 900;
        font-size: 36px;
        white-space: nowrap;
        .show-all-item {
          font-size: 16px;
          line-height: 45px;
          color: #dc4de8;
          font-weight: 700;
        }
      }
      .grid-container {
        // max-width: 1380px;
        width: 100%;
        position: relative;
        // margin: 120px auto 60px;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        .react-multi-carousel-item {
          display: flex;
          justify-content: center;
        }
        .custom-link {
          text-decoration: none;
          color: #000000;
          display: inline-block;
          width: 220px;
          height: 220px;
          border: 1px solid #444444;
          border-radius: 15px;
          .grid-item {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: end;
            justify-content: flex-end;
            border-radius: 10px;
            background-color: #333333;
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: relative;
            box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
            background-color: #ffffff;

            .banner-image {
              img {
                position: absolute;
                top: 0px;
                height: 50%;
                width: 100%;
                z-index: 2;
                object-fit: cover;
              }
            }

            .wrapper-content {
              padding: 0px 15px 15px;
              z-index: 3;
              flex: 0.5 1 0%;
              text-align: left;
              width: 100%;
              color: #ffffff;
              background-color: #02021e;

              .avatar {
                position: absolute;
                top: 35%;
                z-index: 1;

                img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  border: 2px solid #ffffff;
                  object-fit: cover;
                  background-color: #ffffff;
                }
              }

              .name-label {
                margin-top: 50px;
                margin-bottom: 5px;
                font-size: 20px;
                letter-spacing: -1px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .page-grid {
      .title-header {
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 10px;
      }
      .hot-collectibles {
        z-index: 100;
        position: unset;
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .custom-box {
          background-color: #02021e;
          border-radius: 15px;
          display: flex;
          color: #ffffff;
          width: 220px;
          // border: 1px solid #444444;
          .hot-ollectibles-wrapper {
            .hot-ollectibles-item:nth-child(1) {
              width: auto;
              font-size: 12px;
              margin: 10px 0px 5px;
              padding: 0px 0px 0px 12px;
              flex: 1 1 0%;
            }
            .hot-ollectibles-item:nth-child(2) {
              width: auto;
              text-align: right;
              margin: 10px 12px 5px 0;
              color: #aaaaaa;
              opacity: 0.8;
              font-size: 12px;
              padding-left: 0px;
              text-transform: uppercase;
            }
            .hot-ollectibles-item:nth-child(3) {
              .img-token {
                width: 158px;
                height: 158px;
                margin: 32px auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .hot-ollectibles-item:nth-child(4) {
              .wrapper-item {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0.5rem;
                font-size: 18px;
                font-weight: 700;
                font-size: 12px;
                .content-left {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  gap: 4px;
                  .avatar {
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    box-shadow: rgb(0 0 0 / 76%) 0px 0px 0px 1px;
                    overflow: hidden;
                    img {
                      width: 100%;
                      height: 100%;
                      background-color: #ffffff;
                    }
                  }
                }
                // .content-left::after {
                //   background-color: transparent;
                //   background-position: 50% center;
                //   background-repeat: no-repeat;
                //   background-size: cover;
                //   content: '';
                //   display: block;
                //   margin: 0px 0px 0.3125rem 0.2rem;
                //   width: 0.55rem;
                //   height: 0.55rem;
                //   background-image: url('../../../assets/img/verify-icon.png');
                // }
                .content-right {
                  color: #944fff;
                  font-size: 12px;
                  font-family: BrandonBlack, sans-serif;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(5) {
              display: flex;
              justify-content: center;
              text-align: center;
              .name-label {
                margin: 0px 0px 10px;
                font-size: 14px;
                text-align: left;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .hot-ollectibles-item:nth-child(6) {
              text-align: center;
              background-color: #1b1b34;
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-price {
                border-right: 1px solid #5a5a5a;
                .price-header {
                  font-size: 10px;
                }
                .current-price {
                  font-size: 14px;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(7) {
              text-align: center;
              background-color: #1b1b34;
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-remaining {
                .remaining-header {
                  font-size: 10px;
                }
                .quantity-remaining {
                  font-size: 14px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1420px) {
    .section-02 {
      .featured-collections {
        .grid-container {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
  @media (max-width: 1180px) {
    .section-02 {
      .featured-collections {
        .grid-container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
  @media (max-width: 900px) {
    .section-02 {
      .featured-collections {
        .grid-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  @media (max-width: 540px) {
    .section-02 {
      padding: 0 20px;
      .featured-collections {
        .grid-container {
          grid-template-columns: 1fr;
          .custom-link {
            margin: 0px auto;
            height: 260px;
            width: 100%;
            .grid-item {
              width: 100%;
            }
          }
        }
      }
    }
  }
  @include Mobile() {
    .section-01 {
      .content-header {
        padding: 90px 20px 30px 20px;
        .text-head {
          font-size: 36px;
          line-height: 40px;
        }

        .text-bottom {
          font-size: 16px;
          max-width: 100%;
        }
      }
      .home-carousel {
        z-index: 50;
        padding-bottom: 20px;
        top: -75px;
        .slide-item {
          display: flex;
          & > * {
            flex: 1 1 100%;
            margin: 0 20px;

            img {
              border-radius: 20px;
              width: 100%;
            }
          }
        }
      }
    }
    .section-02 {
      // margin-top: 50px;
      .featured-collections {
        .wrapper-header {
          margin: auto;
          gap: 10px;
          .header-name {
            font-size: 22px;
          }
          .show-all-item {
            font-size: 14px;
          }
        }
      }
      .page-grid {
        .title-header {
          font-size: 22px;
        }
      }
    }
  }
  @media (max-width: 320px) {
    .section-01 {
      .content-header {
        .text-bottom {
          font-size: 14px;
        }
      }
    }
    .section-02 {
      .featured-collections {
        .wrapper-header {
          gap: 10px;
          .header-name {
            font-size: 20px;
          }
        }
      }
    }
  }
}
