//home page
@import '../helpers/global';
@import '../helpers/variables';
// homepage PC
.home-page {
  min-height: calc(100vh - 50px - 215px - 65px);
  // section-01
  .section-01 {
    width: 100%;
    margin: 0px auto;

    .content-header {
      width: 100%;
      max-width: 1320px;
      padding: 90px 40px 30px 40px;
      z-index: 1;
      position: relative;
      margin: auto auto 150px;
      color: #ffffff;

      .text-head {
        font-size: 50px;
        margin-bottom: 5px;
        line-height: 54px;
        // font-family: VennExBold, sans-serif;
        font-style: normal;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
      }

      .text-bottom {
        font-size: 22px;
        max-width: 480px;
        margin-bottom: 30px;
        // font-family: venn, sans-serif;
        font-style: normal;
        font-weight: 500;
      }
    }

    .home-carousel-pc {
      z-index: 50;
      // background: linear-gradient(
      //   180deg,
      //   rgba(9, 9, 121, 0) 0%,
      //   rgba(0, 0, 0, 1) 100%
      // );
      padding-bottom: 20px;

      .slide-item {
        display: flex;
        & > * {
          flex: 1 1 100%;
          margin: 0 20px;

          img {
            border-radius: 20px;
            width: 100%;
          }
        }
      }
    }
    // .home-carousel-mb {
    //   display: none;
    // }
  }
  //section 02
  .section-02 {
    color: #000000;
    .grid-container {
      width: $page-content-width;
      position: relative;
      margin: 120px auto 60px;
      display: grid;
      gap: 20px;
      place-items: center;
      grid-template-columns: repeat(5, 1fr);
      .wrapper-header {
        display: flex;
        justify-content: space-between;
        .show-all-item {
          font-size: 16px;
          line-height: 45px;
          color: #dc4de8;
        }
      }
      .custom-link {
        text-decoration: none;
        color: #000000;
        .grid-item {
          width: 260px;
          height: 220px;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          border-radius: 10px;
          background-color: #333333;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
          background-color: #ffffff;
          .banner-image {
            img {
              position: absolute;
              top: 0px;
              height: 50%;
              width: 100%;
              z-index: 2;
            }
            // background-image: url(https://collectible.sweet.io/collection/63/banner.png);
          }
          .wrapper-content {
            padding: 0px 15px 15px;
            z-index: 3;
            flex: 0.5 1 0%;
            text-align: left;
            width: 100%;
            color: #ffffff;
            background-color: #333333;
            .avatar {
              position: absolute;
              top: 35%;
              z-index: 1;
              img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #ffffff;
              }
            }
            .name-label {
              margin-top: 50px;
              margin-bottom: 5px;
              font-size: 22px;
              letter-spacing: -1px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .page-grid {
      .hot-collectibles {
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
          }
        }
        .custom-box {
          background-color: rgb(32, 32, 32);
          border-radius: 15px;
          display: flex;
          color: #ffffff;

          .hot-ollectibles-wrapper {
            .hot-ollectibles-item:nth-child(1) {
              width: auto;
              font-size: 13px;
              margin: 10px 0px 5px;
              padding: 0px 0px 0px 15px;
              flex: 1 1 0%;
            }
            .hot-ollectibles-item:nth-child(2) {
              width: auto;
              text-align: right;
              margin: 10px 0px 5px;
              color: #aeaecb;
              opacity: 0.8;
              font-size: 13px;
              padding-left: 0px;
              text-transform: uppercase;
            }
            .hot-ollectibles-item:nth-child(3) {
              .img-token {
                width: 80%;
                height: 250px;
                margin: 10px auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .hot-ollectibles-item:nth-child(4) {
              .wrapper-item {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0.5rem;
                font-size: 18px;
                .content-left {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  font-size: 15px;
                  letter-spacing: -1px;
                  .avatar {
                    width: 24px;
                    height: 24px;
                    margin-right: 7px;
                    border-radius: 100%;
                    box-shadow: rgb(0 0 0 / 76%) 0px 0px 0px 1px;
                    overflow: hidden;
                    img {
                      width: 100%;
                    }
                  }
                }
                .content-left::after {
                  background-color: transparent;
                  background-position: 50% center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  content: '';
                  display: block;
                  margin: 0px 0px 0.3125rem 0.2rem;
                  width: 0.55rem;
                  height: 0.55rem;
                  background-image: url('../../../assets/img/verify-icon.png');
                }
                .content-right {
                  color: #00fe7a;
                  font-size: 12px;
                  font-family: BrandonBlack, sans-serif;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(5) {
              display: flex;
              justify-content: center;
              text-align: center;
              .name-label {
                margin: 0px 0px 10px;
                font-size: 18px;
                text-align: left;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .hot-ollectibles-item:nth-child(6) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-price {
                border-right: 1px solid #5a5a5a;
                .price-header {
                  font-size: 14px;
                }
                .current-price {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(7) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-remaining {
                .remaining-header {
                  font-size: 14px;
                }
                .quantity-remaining {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  @include Tablet() {
    .section-01 {
      .home-carousel-mb {
        z-index: 50;
        padding-bottom: 20px;

        .slide-item {
          display: flex;
          & > * {
            flex: 1 1 100%;
            margin: 0 20px;

            img {
              border-radius: 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  @include Mobile() {
    .section-01 {
      .home-carousel-mb {
        z-index: 50;
        padding-bottom: 20px;

        .slide-item {
          display: flex;
          & > * {
            flex: 1 1 100%;
            margin: 0 20px;

            img {
              border-radius: 20px;
              width: 100%;
            }
          }
        }
      }
      .content-header {
        padding: 90px 20px 30px 20px;
        .text-head {
          font-size: 36px;
          line-height: 40px;
        }
        .text-bottom {
          font-size: 16px;
        }
      }
    }
  }
}

// homepage Tablet and Mobile
//homepage tablet
.homepage-mb {
  z-index: 50;
  position: relative;
  margin: 0px auto;
  max-width: 100vw;
  .section-01 {
    width: 100%;
    margin: 0px auto;

    .content-header {
      padding: 0px 20px 30px;
      width: 100%;
      max-width: 1320px;
      padding-top: 90px;
      z-index: 1;
      position: relative;
      margin: auto auto 150px;
      color: #ffffff;

      .text-head {
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 900;
      }

      .text-bottom {
        font-size: 22px;
        max-width: 480px;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .home-carousel {
      z-index: 50;
      background: linear-gradient(
        180deg,
        rgba(9, 9, 121, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      padding-bottom: 30px;

      .slide-item {
        display: flex;
        & > * {
          flex: 1 1 100%;
          margin: 0 20px;

          img {
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
  .section-02 {
    color: #000000;
    // padding: 0 20px;
    .grid-container {
      width: $page-content-width;
      position: relative;
      margin: 120px auto 60px;
      display: grid;
      gap: 20px;
      place-items: center;
      grid-template-columns: repeat(2, 1fr);
      .wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-name {
          margin-left: 50px;
        }
        .show-all-item {
          font-size: 16px;
          line-height: 45px;
          color: #dc4de8;
          margin-right: 50px;
        }
      }
      .custom-link {
        text-decoration: none;
        color: #000000;
        .grid-item {
          width: 260px;
          height: 220px;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          border-radius: 10px;
          background-color: #333333;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
          background-color: #ffffff;
          .banner-image {
            img {
              position: absolute;
              top: 0px;
              height: 50%;
              width: 100%;
              z-index: 2;
            }
            // background-image: url(https://collectible.sweet.io/collection/63/banner.png);
          }
          .wrapper-content {
            padding: 0px 15px 15px;
            z-index: 3;
            flex: 0.5 1 0%;
            text-align: left;
            width: 100%;
            background-color: #333333;
            color: #ffffff;
            .avatar {
              position: absolute;
              top: 35%;
              z-index: 1;
              img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #ffffff;
              }
            }
            .name-label {
              margin-top: 50px;
              margin-bottom: 5px;
              font-size: 22px;
              letter-spacing: -1px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .page-grid {
      .title-header {
        left: 50px;
      }
      .hot-collectibles {
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
          }
        }
        .custom-box {
          background-color: rgb(32, 32, 32);
          border-radius: 15px;
          display: flex;
          color: #ffffff;

          .hot-ollectibles-wrapper {
            .hot-ollectibles-item:nth-child(1) {
              width: auto;
              font-size: 13px;
              margin: 10px 0px 5px;
              padding: 0px 0px 0px 15px;
              flex: 1 1 0%;
            }
            .hot-ollectibles-item:nth-child(2) {
              width: auto;
              text-align: right;
              margin: 10px 0px 5px;
              color: #aeaecb;
              opacity: 0.8;
              font-size: 13px;
              padding-left: 0px;
              text-transform: uppercase;
            }
            .hot-ollectibles-item:nth-child(3) {
              .img-token {
                width: 80%;
                height: 250px;
                margin: 10px auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .hot-ollectibles-item:nth-child(4) {
              .wrapper-item {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0.5rem;
                font-size: 18px;
                .content-left {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  font-size: 15px;
                  letter-spacing: -1px;
                  .avatar {
                    width: 24px;
                    height: 24px;
                    margin-right: 7px;
                    border-radius: 100%;
                    box-shadow: rgb(0 0 0 / 76%) 0px 0px 0px 1px;
                    overflow: hidden;
                    img {
                      width: 100%;
                    }
                  }
                }
                .content-left::after {
                  background-color: transparent;
                  background-position: 50% center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  content: '';
                  display: block;
                  margin: 0px 0px 0.3125rem 0.2rem;
                  width: 0.55rem;
                  height: 0.55rem;
                  background-image: url('../../../assets/img/verify-icon.png');
                }
                .content-right {
                  color: #00fe7a;
                  font-size: 12px;
                  font-family: BrandonBlack, sans-serif;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(5) {
              display: flex;
              justify-content: center;
              text-align: center;
              .name-label {
                margin: 0px 0px 10px;
                font-size: 18px;
                text-align: left;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .hot-ollectibles-item:nth-child(6) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-price {
                border-right: 1px solid #5a5a5a;
                .price-header {
                  font-size: 14px;
                }
                .current-price {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(7) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-remaining {
                .remaining-header {
                  font-size: 14px;
                }
                .quantity-remaining {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  //homepage mobile view
  @include Mobile() {
    .section-01 {
      .content-header {
        .text-head {
          font-size: 36px;
          line-height: 40px;
        }
        .text-bottom {
          font-size: 14px;
          max-width: 100%;
        }
      }
      .home-carousel {
        z-index: 50px;
        margin-top: -100px;
        padding-bottom: 60px;
      }
    }
    .section-02 {
      .grid-container {
        grid-template-columns: 1fr;
        .wrapper-header {
          .header-name {
            margin-left: 20px;
            font-size: 22px;
          }
          .show-all-item {
            margin-right: 20px;
            font-size: 14px;
          }
        }
      }
      .page-grid {
        .title-header {
          font-size: 24px;
        }
      }
    }
  }
}
//home page
@import '../helpers/global';
@import '../helpers/variables';
// homepage PC
.home-page {
  min-height: calc(100vh - 50px - 215px - 65px);
  // section-01
  .section-01 {
    width: 100%;
    margin: 0px auto;

    .content-header {
      width: 100%;
      max-width: 1320px;
      padding: 90px 40px 30px 40px;
      z-index: 1;
      position: relative;
      margin: auto auto 150px;
      color: #ffffff;

      .text-head {
        font-size: 50px;
        margin-bottom: 5px;
        line-height: 54px;
        // font-family: VennExBold, sans-serif;
        font-style: normal;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
      }

      .text-bottom {
        font-size: 22px;
        max-width: 480px;
        margin-bottom: 30px;
        // font-family: venn, sans-serif;
        font-style: normal;
        font-weight: 500;
      }
    }

    .home-carousel-pc {
      z-index: 50;
      // background: linear-gradient(
      //   180deg,
      //   rgba(9, 9, 121, 0) 0%,
      //   rgba(0, 0, 0, 1) 100%
      // );
      padding-bottom: 20px;

      .slide-item {
        display: flex;
        & > * {
          flex: 1 1 100%;
          margin: 0 20px;

          img {
            border-radius: 20px;
            width: 100%;
          }
        }
      }
    }
    // .home-carousel-mb {
    //   display: none;
    // }
  }
  //section 02
  .section-02 {
    color: #000000;
    .grid-container {
      width: $page-content-width;
      position: relative;
      margin: 120px auto 60px;
      display: grid;
      gap: 20px;
      place-items: center;
      grid-template-columns: repeat(5, 1fr);
      .wrapper-header {
        display: flex;
        justify-content: space-between;
        .show-all-item {
          font-size: 16px;
          line-height: 45px;
          color: #dc4de8;
        }
      }
      .custom-link {
        text-decoration: none;
        color: #000000;
        .grid-item {
          width: 260px;
          height: 220px;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          border-radius: 10px;
          background-color: #333333;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
          background-color: #ffffff;
          .banner-image {
            img {
              position: absolute;
              top: 0px;
              height: 50%;
              width: 100%;
              z-index: 2;
            }
            // background-image: url(https://collectible.sweet.io/collection/63/banner.png);
          }
          .wrapper-content {
            padding: 0px 15px 15px;
            z-index: 3;
            flex: 0.5 1 0%;
            text-align: left;
            width: 100%;
            color: #ffffff;
            background-color: #333333;
            .avatar {
              position: absolute;
              top: 35%;
              z-index: 1;
              img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #ffffff;
              }
            }
            .name-label {
              margin-top: 50px;
              margin-bottom: 5px;
              font-size: 22px;
              letter-spacing: -1px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .page-grid {
      .hot-collectibles {
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
          }
        }
        .custom-box {
          background-color: rgb(32, 32, 32);
          border-radius: 15px;
          display: flex;
          color: #ffffff;

          .hot-ollectibles-wrapper {
            .hot-ollectibles-item:nth-child(1) {
              width: auto;
              font-size: 13px;
              margin: 10px 0px 5px;
              padding: 0px 0px 0px 15px;
              flex: 1 1 0%;
            }
            .hot-ollectibles-item:nth-child(2) {
              width: auto;
              text-align: right;
              margin: 10px 0px 5px;
              color: #aeaecb;
              opacity: 0.8;
              font-size: 13px;
              padding-left: 0px;
              text-transform: uppercase;
            }
            .hot-ollectibles-item:nth-child(3) {
              .img-token {
                width: 80%;
                height: 250px;
                margin: 10px auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .hot-ollectibles-item:nth-child(4) {
              .wrapper-item {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0.5rem;
                font-size: 18px;
                .content-left {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  font-size: 15px;
                  letter-spacing: -1px;
                  .avatar {
                    width: 24px;
                    height: 24px;
                    margin-right: 7px;
                    border-radius: 100%;
                    box-shadow: rgb(0 0 0 / 76%) 0px 0px 0px 1px;
                    overflow: hidden;
                    img {
                      width: 100%;
                    }
                  }
                }
                .content-left::after {
                  background-color: transparent;
                  background-position: 50% center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  content: '';
                  display: block;
                  margin: 0px 0px 0.3125rem 0.2rem;
                  width: 0.55rem;
                  height: 0.55rem;
                  background-image: url('../../../assets/img/verify-icon.png');
                }
                .content-right {
                  color: #00fe7a;
                  font-size: 12px;
                  font-family: BrandonBlack, sans-serif;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(5) {
              display: flex;
              justify-content: center;
              text-align: center;
              .name-label {
                margin: 0px 0px 10px;
                font-size: 18px;
                text-align: left;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .hot-ollectibles-item:nth-child(6) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-price {
                border-right: 1px solid #5a5a5a;
                .price-header {
                  font-size: 14px;
                }
                .current-price {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(7) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-remaining {
                .remaining-header {
                  font-size: 14px;
                }
                .quantity-remaining {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  @include Tablet() {
    .section-01 {
      .home-carousel-mb {
        z-index: 50;
        padding-bottom: 20px;

        .slide-item {
          display: flex;
          & > * {
            flex: 1 1 100%;
            margin: 0 20px;

            img {
              border-radius: 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  @include Mobile() {
    .section-01 {
      .home-carousel-mb {
        z-index: 50;
        padding-bottom: 20px;

        .slide-item {
          display: flex;
          & > * {
            flex: 1 1 100%;
            margin: 0 20px;

            img {
              border-radius: 20px;
              width: 100%;
            }
          }
        }
      }
      .content-header {
        padding: 90px 20px 30px 20px;
        .text-head {
          font-size: 36px;
          line-height: 40px;
        }
        .text-bottom {
          font-size: 16px;
        }
      }
    }
  }
}

// homepage Tablet and Mobile
//homepage tablet
.homepage-mb {
  z-index: 50;
  position: relative;
  margin: 0px auto;
  max-width: 100vw;
  .section-01 {
    width: 100%;
    margin: 0px auto;

    .content-header {
      padding: 0px 20px 30px;
      width: 100%;
      max-width: 1320px;
      padding-top: 90px;
      z-index: 1;
      position: relative;
      margin: auto auto 150px;
      color: #ffffff;

      .text-head {
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 900;
      }

      .text-bottom {
        font-size: 22px;
        max-width: 480px;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .home-carousel {
      z-index: 50;
      background: linear-gradient(
        180deg,
        rgba(9, 9, 121, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      padding-bottom: 30px;

      .slide-item {
        display: flex;
        & > * {
          flex: 1 1 100%;
          margin: 0 20px;

          img {
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
  .section-02 {
    color: #000000;
    // padding: 0 20px;
    .grid-container {
      width: $page-content-width;
      position: relative;
      margin: 120px auto 60px;
      display: grid;
      gap: 20px;
      place-items: center;
      grid-template-columns: repeat(2, 1fr);
      .wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-name {
          margin-left: 50px;
        }
        .show-all-item {
          font-size: 16px;
          line-height: 45px;
          color: #dc4de8;
          margin-right: 50px;
        }
      }
      .custom-link {
        text-decoration: none;
        color: #000000;
        .grid-item {
          width: 260px;
          height: 220px;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: end;
          justify-content: flex-end;
          border-radius: 10px;
          background-color: #333333;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
          background-color: #ffffff;
          .banner-image {
            img {
              position: absolute;
              top: 0px;
              height: 50%;
              width: 100%;
              z-index: 2;
            }
            // background-image: url(https://collectible.sweet.io/collection/63/banner.png);
          }
          .wrapper-content {
            padding: 0px 15px 15px;
            z-index: 3;
            flex: 0.5 1 0%;
            text-align: left;
            width: 100%;
            background-color: #333333;
            color: #ffffff;
            .avatar {
              position: absolute;
              top: 35%;
              z-index: 1;
              img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #ffffff;
              }
            }
            .name-label {
              margin-top: 50px;
              margin-bottom: 5px;
              font-size: 22px;
              letter-spacing: -1px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .page-grid {
      .title-header {
        left: 50px;
      }
      .hot-collectibles {
        .react-multi-carousel-track {
          .react-multi-carousel-item {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
          }
        }
        .custom-box {
          background-color: rgb(32, 32, 32);
          border-radius: 15px;
          display: flex;
          color: #ffffff;

          .hot-ollectibles-wrapper {
            .hot-ollectibles-item:nth-child(1) {
              width: auto;
              font-size: 13px;
              margin: 10px 0px 5px;
              padding: 0px 0px 0px 15px;
              flex: 1 1 0%;
            }
            .hot-ollectibles-item:nth-child(2) {
              width: auto;
              text-align: right;
              margin: 10px 0px 5px;
              color: #aeaecb;
              opacity: 0.8;
              font-size: 13px;
              padding-left: 0px;
              text-transform: uppercase;
            }
            .hot-ollectibles-item:nth-child(3) {
              .img-token {
                width: 80%;
                height: 250px;
                margin: 10px auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .hot-ollectibles-item:nth-child(4) {
              .wrapper-item {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: auto;
                margin-bottom: 0.5rem;
                font-size: 18px;
                .content-left {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  font-size: 15px;
                  letter-spacing: -1px;
                  .avatar {
                    width: 24px;
                    height: 24px;
                    margin-right: 7px;
                    border-radius: 100%;
                    box-shadow: rgb(0 0 0 / 76%) 0px 0px 0px 1px;
                    overflow: hidden;
                    img {
                      width: 100%;
                    }
                  }
                }
                .content-left::after {
                  background-color: transparent;
                  background-position: 50% center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  content: '';
                  display: block;
                  margin: 0px 0px 0.3125rem 0.2rem;
                  width: 0.55rem;
                  height: 0.55rem;
                  background-image: url('../../../assets/img/verify-icon.png');
                }
                .content-right {
                  color: #00fe7a;
                  font-size: 12px;
                  font-family: BrandonBlack, sans-serif;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(5) {
              display: flex;
              justify-content: center;
              text-align: center;
              .name-label {
                margin: 0px 0px 10px;
                font-size: 18px;
                text-align: left;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .hot-ollectibles-item:nth-child(6) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-price {
                border-right: 1px solid #5a5a5a;
                .price-header {
                  font-size: 14px;
                }
                .current-price {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
            .hot-ollectibles-item:nth-child(7) {
              text-align: center;
              background-color: rgba(255, 255, 255, 0.08);
              padding: 15px 0px;
              width: 50%;
              font-size: 0.6875rem;
              .wrapper-remaining {
                .remaining-header {
                  font-size: 14px;
                }
                .quantity-remaining {
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
  //homepage mobile view
  @include Mobile() {
    .section-01 {
      .content-header {
        .text-head {
          font-size: 36px;
          line-height: 40px;
        }
        .text-bottom {
          font-size: 14px;
          max-width: 100%;
        }
      }
      .home-carousel {
        z-index: 50px;
        margin-top: -100px;
        padding-bottom: 60px;
      }
    }
    .section-02 {
      .grid-container {
        grid-template-columns: 1fr;
        .wrapper-header {
          .header-name {
            margin-left: 20px;
            font-size: 22px;
          }
          .show-all-item {
            margin-right: 20px;
            font-size: 14px;
          }
        }
      }
      .page-grid {
        .title-header {
          font-size: 24px;
        }
      }
    }
  }
}
