@import '../helpers/global.scss';

.collectibles-item-details-container {
  padding: 65px 0 100px;
  margin: auto;
  max-width: 100vw;
  background: #02021e;
  color: white;
  // a,
  // button {
  //   color: inherit;
  //   font: inherit;
  //   text-decoration: none;
  //   border: none;
  //   background: transparent;
  //   cursor: pointer;
  // }

  .collectibles-details-wp {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 10px 40px;
    .back-button {
      z-index: 10;
      height: 40px;
      width: 100px;
      padding: 0px 15px;
      border-radius: 8px;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: white;
      background: rgba($color: #ffffff, $alpha: 0.1);
      border: none;
      font-weight: 600;
    }
    .product-details {
      display: flex;
      justify-content: space-around;
      padding-bottom: 40px;
      margin-top: 24px;
      padding-top: 40px;
      gap: 20px;
      border: 1px solid #444444;
      border-radius: 30px;
      .wrapper-left {
        padding: 30px 20px;
        border-right: 1px solid #444444;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .showcase-box {
          position: relative;
          max-width: 500px;
          max-height: 500px;
          width: 100%;
          height: 100%;
          margin: auto;
          .thumbnail {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .accordion {
          max-width: 500px;
          width: 100%;
          margin: auto;
          --bs-accordion-border-color: unset;
          .accordion-item {
            background-color: transparent;
            border: 1px solid #444444;
            color: #ffffff;
            .accordion-header {
              font-size: 16px;
              font-weight: 700;
              .accordion-button {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                padding: 20px 16px;
                background-color: transparent;
                color: #ffffff;
                .content-left {
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  font-weight: 700;
                }
                &::after {
                  background-image: url('../../../assets/svg/icon_arrow_dropdown.svg');
                  background-size: 24px;
                }
                &:not(.collapsed) {
                  color: #ffffff;
                  background-color: transparent;
                  box-shadow: unset;
                  border-bottom: 1px solid #444444;
                }
                &:not(.collapsed)::after {
                  transition: 500ms;
                  transform: rotateX(180deg);
                }
              }
            }
            &:first-of-type {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              border-bottom: unset;
            }
            .accordion-properties {
              background: rgba(255, 255, 255, 0.1);
              padding: 16px;
              .padding-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
                .item-properties {
                  border: 1px solid #2f8af5;
                  border-radius: 10px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  height: 84px;
                  text-align: center;
                  justify-content: center;
                  .content-01 {
                    color: #2f8af5;
                    font-size: 11px;
                    text-transform: uppercase;
                  }
                  .content-02 {
                    font-weight: 700;
                    font-size: 15px;
                  }
                  .content-03 {
                    color: #bfbfbf;
                    font-size: 13px;
                  }
                }
              }
            }
            .accordion-details {
              background: rgba(251, 253, 255, 0.05);
              padding: 16px;
              font-size: 14px;
              line-height: 28px;
              .padding-content {
                .item-details {
                  display: flex;
                  justify-content: space-between;
                  .info-name {
                    font-weight: 600;
                  }
                  &:first-child {
                    .info-name {
                      color: #2f8af5;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .details-box {
        width: 50%;
        margin: 0px auto;
        text-align: center;
        margin-right: 20px;
        .banner-dropdown {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: space-between;
          position: relative;

          .logo {
            display: flex;
            > img {
              border-radius: 100%;
              background-color: white;
              width: 40px;
              height: 40px;
            }
            .logo-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;
              gap: 4px;
              .creator {
                font-size: 12px;
                text-decoration: none;
                width: max-content;
              }
              .name {
                font-size: 18px;
                line-height: 16px;
                font-weight: 700;
              }
            }
          }
          // list sns
          .list-sns {
            display: flex;
            justify-content: center;
            align-items: center;
            .custom-sns {
              background: transparent;
              width: 48px;
              height: 48px;
              padding: 12px;
              border: none;
              border-radius: 50%;
              box-shadow: rgb(145 145 145) 0px 0px 10px -10px;
              transition: all 0.5s;
              cursor: pointer;
              .image-sns {
                width: 24px;
                height: 24px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .dropdown {
                .dropdown-button {
                  cursor: pointer;
                }
                .dropdown-box {
                  width: 250px;
                  height: auto;
                  border-radius: 12px;
                  background-color: #23235c;
                  position: absolute;
                  right: 0px;
                  flex-direction: column;
                  padding: 20px 15px;
                  margin: 0;
                  z-index: 20;
                  list-style: none;
                  top: 100%;
                  font-weight: 500;
                  .list-dropdown-item {
                    // display: flex;
                    font-weight: 500;
                    padding: 16px 0px;
                    .dropdown-item-nft {
                      svg {
                        margin-bottom: -5px;
                        margin-right: 12px;
                        // width: 19px;
                        // height: 19px;
                      }
                      &:hover {
                        color: #2f8af5;
                        svg {
                          path {
                            fill: #2f8af5;
                          }
                        }
                      }
                      .custom-link-sns {
                        display: flex;
                        gap: 12px;
                        color: #ffffff;
                        align-items: center;
                        .image-sns {
                          width: 20px;
                          height: 20px;
                        }
                        &:hover {
                          color: #2f8af5;
                        }
                      }
                    }
                    &:not(:last-child) {
                      border-bottom: 1px solid #393939;
                    }
                  }
                }
              }
              &:hover {
                box-shadow: rgb(145 145 145) 0px 0px 10px 0px;
              }
            }
          }
        }
        .line-banner {
          border-bottom: 1px solid #444444;
          margin: 16px 0 24px;
        }
        .name-product {
          font-weight: 900;
          font-size: 36px;
          line-height: 42px;
          text-align: center;
        }
        .sub-product {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #aaaaaa;
          margin: 24px 0;
          text-align: center;
        }
        .label-name {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          font-size: 30px;
          padding-right: 15px;
          margin-bottom: 20px;
          font-weight: bold;
          .rarity-label {
            font-size: 18px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(227, 100, 190);
            img {
              margin-right: 5px;
            }
          }
        }
        .description-label {
          font-size: 14px;
          margin-bottom: 20px;
          text-align: left;
        }
        .authenticity-button {
          font-size: 12px;
          color: #2f8af5;
          margin-bottom: 0px;
          display: flex;
          padding-bottom: 24px;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          img {
            margin-right: 5px;
          }
        }
        .list-item {
          display: grid;
          // padding: 10px 0px;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 12px;
          margin-bottom: 20px;
          .item {
            padding: 20px;
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            text-transform: uppercase;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            .label {
              font-size: 12px;
              color: #944fff;
              padding-bottom: 5px;
            }
            .value {
              color: #fff;
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
        .wrapper-user-details {
          width: 100%;
          background: #1b1b34;
          border-radius: 10px;
          padding: 16px;
          margin-bottom: 20px;
          .title-details {
            font-weight: 700;
            font-size: 16px;
            border-bottom: 1px solid #444444;
            text-align: left;
            padding-bottom: 16px;
          }
          .wrapper-content-details {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
            .wrapper-user {
              display: flex;
              gap: 8px;
              align-items: center;
              .avt-user {
                width: 40px;
                height: 40px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                  object-fit: cover;
                  background: #ffffff;
                }
              }
            }
            .details-info {
              font-size: 16px;
              line-height: 24px;
              color: #aaaaaa;
              text-align: left;
            }
          }
        }
        .wrapper-other-items {
          padding: 16px;
          background: #1b1b34;
          border-radius: 10px;
          width: 100%;
          position: relative;
          .wrapper-head {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #444444;
            padding-bottom: 16px;
            .title-items {
              font-weight: 700;
              font-size: 16px;
            }
            .seemore-otheritems {
              font-size: 14px;
              font-weight: 400;
              color: #2f8af5;
              cursor: pointer;
            }
          }
          .carousel-other-items {
            padding-top: 16px;
            text-align: left;
            .item-other {
              width: 80px;
              display: flex;
              flex-direction: column;
              margin: auto;
              gap: 6px;
              .item-image {
                width: 80px;
                height: 80px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  background: #ffffff;
                  border-radius: 8px;
                }
              }
              .id-card {
                font-size: 12px;
                color: #aaaaaa;
              }
              .price-item {
                font-weight: 700;
                font-size: 14px;
              }
            }
            &:hover {
              .arrow-item-details {
                .arrow-one {
                  background: #ffffff;
                }
                .arrow-two {
                  background: #ffffff;
                }
              }
            }
          }
          .dot-other-items {
            bottom: -10px;
            .react-multi-carousel-dot--active button {
              background: #944fff;
            }
          }
        }
        .list-trade {
          margin-top: 35px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          margin-bottom: 20px;

          .btn-trade.disabled {
            opacity: 0.4;
            cursor: default;
          }
          .btn-trade {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            position: relative;
            width: 100%;
            //max-width: 350px;
            height: 64px;
            border-radius: 10px;
            padding: 20px;
            text-transform: none;
            font-size: 16px;
            color: white;
            background: #2f8af5;
            img {
              margin-right: 10px;
            }
          }
          .noti-cannot {
            display: none;
            max-width: 160px;
            text-align: center;
            border-radius: 12px;
            color: #fff;
            background-color: #23235c;
            font-size: 16px;
            border: 1px solid transparent;
            padding: 0px 21px;
            pointer-events: none;
            transition: opacity 0.3s ease-out;
          }
          .btn-trade:hover + .noti-cannot {
            position: absolute;
            bottom: 100%;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
            margin-bottom: 10px;
            max-width: 160px;
            width: max-content;
          }
          .btn-trade:hover + .down {
            position: absolute;
            top: 100%;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
            margin-bottom: 10px;
            max-width: 160px;
            width: max-content;
          }
        }
        .btn-trade {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          position: relative;
          width: 100%;
          //max-width: 350px;
          height: 64px;
          border-radius: 10px;
          padding: 20px;
          text-transform: none;
          font-size: 16px;
          color: white;
          background: #2f8af5;
          img {
            margin-right: 10px;
          }
        }
      }
    }
    .price-history {
      margin-bottom: 90px;
      margin-top: 80px;
      .price-history-label {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: bold;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        img {
          width: 32px;
          height: 32px;
          margin-right: 14px;
        }
      }
      .list-price-history {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
      }
    }
    .my-revealed-items {
      margin-bottom: 50px;
      text-align: center;
      font-weight: 900;
      font-size: 36px;
    }
    .marketplace-items {
      margin: 0px;
      width: 100%;
      position: relative;
      display: grid;
      gap: 20px;
      place-items: center;
      max-width: 1200px;
      grid-template-columns: repeat(5, 1fr);

      a {
        background: #02021e;
        color: #fff;
        border-radius: 15px;
        // box-shadow: 0 0 5px 5px #f0ebfc;
        border: 1px solid #444444;
      }

      .item_product {
        width: 220px;
        height: 390px;
        display: flex;
        flex-flow: row wrap;
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.15s ease-in-out 0s;
        cursor: pointer;
        margin: 0px;

        .item_product_detail {
          width: 100%;
          padding: 0px 12px;
          border-right: none;

          .card-image {
            // padding: 15px 0px 0px;
            // text-align: center;
            // width: 100%;
            // margin-bottom: 10px;
            text-align: center;
            width: 158px;
            margin-bottom: 10px;
            height: 158px;
            margin: auto;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .owner_product {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-top: auto;
            font-size: 18px;
            font-size: 12px;
            font-weight: 700;

            a {
              box-shadow: none;
              background: none;
              border: none;
            }

            .owner_product_box {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              font-size: 12px;
              letter-spacing: -1px;
              gap: 4px;

              .owner_product_avatar {
                min-width: 24px;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                box-shadow: rgb(255 255 255 / 76%) 0px 0px 0px 1px;
                overflow: hidden;

                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-color: #ffffff;
                }
              }
            }

            // .owner_product_box::after {
            //   background-color: transparent;
            //   background-position: 50% center;
            //   background-repeat: no-repeat;
            //   background-size: cover;
            //   content: '';
            //   display: block;
            //   margin: 0px 0px 0.3125rem 0.2rem;
            //   width: 0.55rem;
            //   height: 0.55rem;
            //   background-image: url('./../../../assets/img/verify-icon.png');
            // }

            .status {
              color: #944fff;
              text-transform: uppercase;
              white-space: nowrap;
            }
          }

          .product_name {
            margin: 12px 0 10px;
            font-size: 14px;
            text-align: left;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;
          }

          .box-price {
            border-right: 1px solid #5a5a5a;

            .price {
              font-size: 10px;
            }

            .currency {
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 700;
            }
          }

          .remaining {
            font-size: 10px;
          }

          .remaining-total {
            font-size: 14px;
            font-weight: 700;
          }
        }

        .item_product_detail:nth-child(1) {
          width: auto;
          font-size: 12px;
          margin: 10px 0px 0px;
          padding: 0px 0px 0px 12px;
          flex: 1 1 0%;
        }

        .item_product_detail:nth-child(2) {
          width: auto;
          text-align: right;
          margin: 10px 0px 0px;
          color: #aaaaaa;
          font-size: 12px;
          padding-left: 0px;
          text-transform: uppercase;
        }
        .item_product_detail:nth-child(3) {
          padding: 32px 12px;
        }
        .item_product_detail:nth-child(5) {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
        }

        .item_product_detail:nth-last-child(1),
        .item_product_detail:nth-last-child(2) {
          text-align: center;
          background-color: rgba(255, 255, 255, 0.1);
          padding: 15px 0px;
          width: 50%;
          font-size: 0.6875rem;
        }
      }
    }
    .my-product {
      //background-color: red;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 5px;

      .product {
        width: 300px;
        margin-left: 5px;

        img {
          width: 100%;
          //object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .product-details {
        .details-box {
          .banner-dropdown {
            .list-sns {
              .custom-sns {
                .dropdown {
                  .dropdown-box {
                    .list-dropdown-item {
                      display: flex;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@include Tablet_Mobile() {
  .collectibles-item-details-container {
    padding: 65px 0 0;
    .collectibles-details-wp {
      .product-details {
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        // overflow: hidden;
        .wrapper-left {
          width: 100%;
          border-right: unset;
          padding: 0 20px 30px;
          .showcase-box {
            width: 100%;
            height: 500px;
            border-right: none;
            padding-top: 0px;
            .back-button {
              margin-left: 25px;
            }
            .thumbnail {
              width: 100%;
            }
          }
        }
        .details-box {
          margin: 0 auto;
          width: 90%;
          .label-name {
            font-size: 25px;
          }
          .list-trade {
            .btn-trade.disabled {
              position: relative;
            }
            .btn-trade {
              font-size: 14px;
            }
            .noti-cannot {
              display: none;
              max-width: 160px;
              text-align: center;
              border-radius: 12px;
              color: #fff;
              background-color: #23235c;
              font-size: 16px;
              border: 1px solid transparent;
              padding: 0px 21px;
              pointer-events: none;
              transition: opacity 0.3s ease-out;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1279px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .marketplace-items {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
@media (max-width: 1029px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .marketplace-items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media (max-width: 789px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .marketplace-items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media (max-width: 639px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .marketplace-items {
        grid-template-columns: repeat(1, 1fr);
        a {
          width: 90%;
        }
        .item_product {
          height: auto;
          width: 100%;
          .item_product_detail {
            .card-image {
              width: 80%;
              height: 250px;
            }
            .product_name {
              white-space: unset;
            }
          }
          .item_product_detail:nth-child(3) {
            padding: 15px 12px 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 540px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      padding: 10px 20px;
      .price-history {
        margin-top: 60px;
        margin-bottom: 60px;
        .price-history-label {
          font-size: 26px;
        }
      }
      .my-revealed-items {
        font-size: 26px;
        margin-bottom: 30px;
      }
      .marketplace-items {
        grid-template-columns: repeat(1, 1fr);
      }
      .product-details {
        .wrapper-left {
          .accordion {
            .accordion-item {
              .accordion-properties {
                .padding-content {
                  grid-template-columns: repeat(2, 1fr);
                }
              }
            }
          }
        }
      }
    }
  }
}
@include Mobile() {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .product-details {
        .wrapper-left {
          height: 100%;
          .showcase-box {
            // width: 90%;
            height: 100%;
            margin-bottom: 20px;
            .back-button {
              margin-left: 0px;
            }
            .thumbnail {
              height: auto;
            }
          }
        }

        .details-box {
          margin: 0px auto;
          .label-name {
            padding: 0px;
            margin-bottom: 20px;
            font-size: 26px;
            flex-direction: column;
            text-align: center;
          }
          .rarity-label {
            margin: 0px auto;
            font-size: 14px;
            img {
              width: 18px;
              height: 18px;
            }
          }
          .list-item {
            gap: 5px;
            .item {
              max-width: 30vw;
              padding: 20px 10px;
              font-size: 12px;
            }
          }
          .list-trade {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .collectibles-item-details-container {
    .collectibles-details-wp {
      .product-details {
        .wrapper-left {
          .accordion {
            .accordion-item {
              .accordion-properties {
                .padding-content {
                  .item-properties {
                    .content-01 {
                      font-size: 10px;
                    }
                    .content-02 {
                      font-size: 12px;
                    }
                    .content-03 {
                      font-size: 11px;
                    }
                  }
                }
              }
              .accordion-details {
                font-size: 12px;
              }
            }
          }
        }
        .details-box {
          margin: 0px auto;
          .list-item {
            gap: 5px;
            .item {
              max-width: 30vw;
              padding: 20px 10px;
              font-size: 12px;
              .label {
                font-size: 10px;
              }
              .value {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.noti-cannot {
  max-width: 200px;
  text-align: center;
  border-radius: 12px;
  color: #fff;
  background-color: #23235c;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 0px 21px;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}
