@import '../helpers/global';
@import '../helpers/variables';

.purchase-container {
  padding: 0px 40px;
  margin: 0px auto;
  max-width: 100vw;
  background-color: #02021e;
  color: #ffffff;
  .purchase-history-page {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 50px;
    .purchase-history-header {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 25px;
      border-bottom: 1px solid #444444;
      font-size: 36px;
      font-weight: 600;
    }
    .purchase-history-body {
      display: flex;
      flex-direction: column;
      overflow: auto;
    }

    .purchase-history-content {
      display: table;
      flex-direction: column;
      font-size: 16px;
      width: 100%;
      max-width: 1200px;
      min-width: 1200px;
      padding: 0 20px;
      margin: 0px auto;
      line-height: 1;
      overflow: auto;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      margin-bottom: 8px;
      .table-row {
        display: table-row;
        padding: 5px 0px;
        width: 100%;
        .value {
          // border-bottom: 1px solid white;
          display: table-cell;
          box-sizing: border-box;
          // padding: 15px 15px 0px 0px;
          padding: 15px 0;
        }
        .purchase_date {
          width: 160px;
          .column-date {
            display: flex;
            justify-content: flex-start;
            .arrow-date {
              width: 24px;
              height: 24px;
              display: inline-block;
              margin-left: 7px;
              margin-top: -5px;
              transform: rotateX(0deg);
              transform-style: preserve-3d;
              transition: transform 0.5s ease-out 0s;

              img {
                width: 100%;
                height: 100%;
              }
            }
            .asc {
              transform: rotateX(180deg);
            }
          }
        }
        .payment_type {
          width: 195px;
        }
        .blockchain {
          width: 170px;
        }
        .amount {
          width: 165px;
        }
        .explorer_url {
          width: 125px;
        }
        .name {
          padding: auto;
        }
        .nft {
          padding: 13px 15px 20px 0px;
          .campaign_name {
            display: block;
            margin-bottom: 3px;
            font-size: 15px;
            color: rgb(155, 154, 154);
            &:hover {
              color:white;
              cursor: pointer;
            }
          }
          .name {
            line-height: 19px;
          }
          > a {
            color: inherit;
            font: inherit;
            text-decoration: none;
            border: none;
            background: transparent;
            cursor: pointer;
          }
        }
        .icon {
          width: 25px;
          padding-right: 0px;
          text-align: right;
          .arrow-up-right {
            width: 20px;
            img {
              width: 100%;
            }
          }
        }
      }
      .heading-row {
        display: table-row;
        .title {
          cursor: pointer;
          color: #2f8af5;
          padding: 24px 0px 21px;
          display: table-cell;
          box-sizing: border-box;
          vertical-align: top;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    .purchase-history-content:first-child {
      background: unset;
      border-radius: unset;
    }
  }
}
.purchase-detail-container {
  position: relative;
  // z-index: 15;
  background-color: #02021e;
  color: #ffffff;
  max-width: 100vw;
  width: 100%;
  padding: 50px 0;
  .wrapper-purchase-detail {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0 40px;
    .back-purchase-list {
      z-index: 10;
      height: 40px;
      width: 100px;
      padding: 0px 15px;
      border-radius: 8px;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: white;
      background: rgba($color: #ffffff, $alpha: 0.1);
      border: none;
      font-weight: 600;
      > svg {
        margin-right: 10px;
        transform: rotate(180deg);
      }
    }
    .collectible {
      max-width: 788px;
      margin: auto;
      .collectible-image-container {
        height: 300px;
        // min-height: 430px;
        width: 300px;
        margin: auto;
        margin-top: 32px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .campaignBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        transition: all 0.3s ease-in-out;
        padding: 33px 0 24px;
        gap: 4px;
        > img {
          height: 30;
          border-radius: 50%;
          margin-right: 5px;
        }
        .campaign_name {
          margin-right: 4px;
          font-weight: 700;
          font-size: 0.75rem;
        }
      }
      .line-purchase {
        max-width: 300px;
        width: 100%;
        margin: auto;
      }
      h1 {
        font-weight: 900;
        text-align: center;
        margin: 24px 0;
        font-size: 24px;
      }
      .collectibleDescription {
        font-size: 0.9rem;
        margin-left: 2.75rem;
        margin-right: 2.75rem;
        .description_text {
          text-align: center;
          color: #aaaaaa;
        }
        > button {
          background: transparent;
          border: none;
          margin: 24px auto;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 4px;
          span {
            font-size: 12px;
            color: #2f8af5;
            font-weight: 700;
          }
        }
      }
      .current_owner {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 12px;
        img {
          border-radius: 50%;
        }
        .current_owner_title {
          font-weight: 400;
        }
      }
      .infoContainer {
        .collectible-info-boxes {
          margin-bottom: 24px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          align-items: stretch;
          .info {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            width: 148px;
            height: 64px;
            align-items: center;
            gap: 10px;
            .title {
              font-size: 12px;
              text-transform: uppercase;
              text-align: center;
              margin: 0 0 0 0;
              color: #944fff;
            }
            .value {
              font-weight: 700;
              font-size: 14px;
              text-align: center;
              margin: 0 0 0 0;
            }
          }
          :last-child {
            padding-right: 0px;
            border-right: none;
          }
        }
      }
      .marketPlaceBtn {
        margin-top: 15px;
        a {
          text-decoration: none;
        }
        .marketplace-container {
          height: 59px;
          width: 314px;
          box-sizing: border-box;
          border: none;
          border-radius: 11px;
          outline: none;
          color: white;
          padding: 0 20px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #2f8af5;
          .marketplace-icon {
            height: 30px;
            margin-right: 10px;
            border-style: none;
          }
          .marketplace-text {
            font-weight: 900;
          }
        }
      }
    }
  }
}
@include Tablet_Mobile() {
  .purchase-container .purchase-history-page {
    width: 100%;
    .purchase-history-header {
      // padding: 20px 0 15px 10px;
      font-size: 32px;
    }
    // .purchase-history-body {
    //   padding: 0 25px;
    // }
  }
}
@include Tablet_Mobile() {
  .purchase-detail-container {
    .collectible {
      .infoContainer {
        .collectible-info-boxes {
          flex-wrap: wrap;
          justify-content: center;
          .info {
            padding: 0 5px;
          }
        }
      }
    }
    .back-purchase-list {
      top: 85px;
      left: -5px;
      z-index: 10;
      height: 40px;
    }
  }
}
@media (max-width: 900px) {
  .purchase-detail-container {
    .wrapper-purchase-detail {
      .collectible .infoContainer .collectible-info-boxes {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
    }
  }
}
@include Tablet() {
  .purchase-detail-container {
    .wrapper-purchase-detail {
      // padding: 0 20px;
      .collectible .infoContainer .collectible-info-boxes {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
    }
  }
}
@media (max-width: 540px) {
  .purchase-container {
    padding: 0 20px;
  }
  .purchase-detail-container {
    .wrapper-purchase-detail {
      padding: 0 20px;
      .collectible {
        .infoContainer {
          .collectible-info-boxes {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            // .info {
            // 	padding: 0 5px;
            // }
          }
        }
        .marketPlaceBtn {
          .marketplace-container {
            width: 100%;
          }
        }
      }
    }
  }
}
// @include Mobile() {
//   .purchase-detail-container {
//     .collectible .infoContainer .collectible-info-boxes {
//       width: 357px;
//     }
//   }
// }
