@import '../helpers/global';
@import '../helpers/variables';

.purchase-container{
	padding: 0px;
	margin: 0px auto;
	max-width: 100vw;
	.purchase-history-page{
		width: 1200px;
		max-width: 100%;
		margin: 0px auto 50px;
		.purchase-history-header{
			display: flex;
			-webkit-box-pack: justify;
			justify-content: space-between;
			padding-top: 15px;
			padding-bottom: 25px;
			border-bottom: 1px solid rgb(41, 41, 41);
			h1{
				font-size: 32px;
			}
		}
		.purchase-history-body{
			display: flex;
			flex-direction: column;
			overflow: auto;
		}
			.purchase-history-content{
				display: table;
				flex-direction: column;
				font-size: 20px;
				width: 100%;
				max-width: 1130px;
				min-width: 1130px;
				margin: 0px auto;
				line-height: 1;
				overflow: auto;
				border-bottom: 1px solid black;

				.table-row{
					display: table-row;
					padding: 5px 0px;
					width: 100%;
					.value{
						border-bottom: 1px solid white;
						display: table-cell;
						box-sizing: border-box;
						padding: 15px 15px 0px 0px;
					}
					.purchase_date{
						width: 160px;
					}
					.payment_type{
						width: 195px;
					}
					.blockchain{
						width: 170px;
					}
					.amount{
						width: 165px;
					}
					.explorer_url{
						width: 125px;
					}
					.name{
						padding: auto;
					}
					.nft{
						padding: 13px 15px 20px 0px;
						.campaign_name{
							display: block;
							margin-bottom: 3px;
							font-size: 15px;
							color: rgb(155, 154, 154);
						}
						.name{
							line-height: 28px;
						}
						>a{
							color: inherit;
							font: inherit;
							text-decoration: none;
							border: none;
							background: transparent;
							cursor: pointer;
						}
					}
					.icon{
						width: 25px;
						padding-right: 0px;
						text-align: right;
						> svg{
							width: 18px;
							height: 18px;
						}
					}
					 
				}
				.heading-row{
					display: table-row;
					.title{
						cursor: pointer;
						color: rgb(246, 97, 174);
						padding: 20px 0px;
						display: table-cell;
						box-sizing: border-box;
						vertical-align: top;
						font-size: 20px;
					}
					
				}
			}
		}
	}
.purchase-detail-container{
	position: relative;
	// z-index: 15;
	max-width: 100vw;
	padding: 50px 1rem 50px;
	.back-purchase-list{
		position: absolute;
    top: 55px;
		left: 10%;
    z-index: 10;
		height: 40px;
    width: 105px;
    padding: 0px 15px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 25px;
    font-size: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
		text-decoration: none;
		color: white;
		background: linear-gradient(to left, #6781f9, #e364be) !important;
		border: none;
		>svg{
			margin-right: 10px;
			transform: rotate(180deg);
		}
	}
	.collectible{
		max-width: 600px;
    margin: auto;
		.collectible-image-container{
			max-height: 430px;
			min-height: 430px;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 6rem;
			width: 100%;
			img{
				width: 100%;
			}
		}
		.campaignBlock{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			min-width: 100%;
			transition: all 0.3s ease-in-out;
			> img{
				height: 30;
				border-radius: 50%;
				margin-right: 5px;
			}
			.campaign_name{
				margin-right: 4px;
				font-weight: 700;
				font-size: 0.75rem;
			}
		}
		h1{
			font-weight: 900;
			margin: 1rem 0;
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 0.75rem;
			margin-top: 10px;
		}
		.collectibleDescription{
			font-size: 0.9rem;
			margin-left: 2.75rem;
			margin-right: 2.75rem;
			margin-bottom: 0.75rem;
			margin-top: 10px;
			.description_text{
				text-align: center;
			}
			> button{
				background-color: transparent;
				border: none;
				margin: 10px auto;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				>img{
					height: 16px;
					width: 16px;
					position: relative;
					top: -2px;
				}
				span{
					font-size: 0.75rem;
				}
			}
		}
		.current_owner{
			text-align: center;
			margin-bottom: 25px;
			font-weight: 700;
			font-size: .75em;
			img{
				border-radius: 50%;
			}
			.current_owner_title{
				font-size: 0.7rem;
				font-weight: 400;
			}
		}
		.infoContainer{
			display: flex;
			flex-direction: column;
			align-items: center;
			.collectible-info-boxes{
				margin-bottom: 1.25rem;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: stretch;
				.info{
					text-transform: uppercase;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 30px;
					border-right: 1px solid #f1a7dd;
					.title{
						font-size: 0.75rem;
						text-transform: uppercase;
						text-align: center;
						margin: 0 0 0 0;
					}
					.value{
						font-weight: 700;
						font-size: 1.4rem;
						text-align: center;
						margin: 0 0 0 0;
					}
				}
				:last-child {
					padding-right: 0px;
					border-right: none;
				}
			}
		}
		.marketPlaceBtn{
			margin-top: 15px;
			a{
				text-decoration: none
			}
			.marketplace-container{
				height: 59px;
				width: 314px;
				box-sizing: border-box;
				border: none;
				border-radius: 11px;
				outline: none;
				color: white;
				padding: 0 20px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				background: linear-gradient(to left,#6781f9,#e364be) !important;
				.marketplace-icon{
					height: 30px;
    			margin-right: 10px;
					border-style: none;
				}
				.marketplace-text{
					font-weight: 900;
				}
			}
		}
	}
}
@include Tablet_Mobile() {
	.purchase-container .purchase-history-page{
		width: 100%;
		.purchase-history-header{
			padding:20px 0 15px 10px;
		}
		.purchase-history-body{
			padding: 0 25px;
		}
	}

}
//mobile series
.purchase-detail-container-mb{
	position: relative;
	// z-index: 15;
	max-width: 100vw;
	padding: 50px 1rem 50px;
	.back-purchase-list{
		position: absolute;
    top: 85px;
		left: -5px;
    z-index: 10;
		height: 40px;
    width: 75px;
    padding: 0px 15px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 25px;
    font-size: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
		text-decoration: none;
		color: white;
		background: linear-gradient(to left, #6781f9, #e364be) !important;
		border: none;
		>svg{
			margin-right: 10px;
			transform: rotate(180deg);
		}
	}
	.collectible{
		max-width: 600px;
    margin: auto;
		.collectible-image-container{
			max-height: 430px;
			min-height: 430px;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 6rem;
			width: 100%;
			img{
				width: 100%;
			}
		}
		.campaignBlock{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			min-width: 100%;
			transition: all 0.3s ease-in-out;
			> img{
				height: 30;
				border-radius: 50%;
				margin-right: 5px;
			}
			.campaign_name{
				margin-right: 4px;
				font-weight: 700;
				font-size: 0.75rem;
			}
		}
		h1{
			font-weight: 900;
			margin: 1rem 0;
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 0.75rem;
			margin-top: 10px;
		}
		.collectibleDescription{
			font-size: 0.9rem;
			margin-left: 2.75rem;
			margin-right: 2.75rem;
			margin-bottom: 0.75rem;
			margin-top: 10px;
			.description_text{
				text-align: center;
			}
			> button{
				background-color: transparent;
				border: none;
				margin: 10px auto;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				>img{
					height: 16px;
					width: 16px;
					position: relative;
					top: -2px;
				}
				span{
					font-size: 0.75rem;
				}
			}
		}
		.current_owner{
			text-align: center;
			margin-bottom: 25px;
			font-weight: 700;
			font-size: .75em;
			img{
				border-radius: 50%;
			}
			.current_owner_title{
				font-size: 0.7rem;
				font-weight: 400;
			}
		}
		.infoContainer{
			display: flex;
			flex-direction: column;
			align-items: center;
			.collectible-info-boxes{
				flex-wrap: wrap;
				width: 357px;
				justify-content: center;
				margin-bottom: 1.25rem;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				.info{
					text-transform: uppercase;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 5px;
					border-right: 1px solid #f1a7dd;
					margin: 10px 0;
					.title{
						font-size: 0.70rem;
    				margin-bottom: 3px;
						text-transform: uppercase;
						text-align: center;
						margin: 0 0 0 0;
					}
					.value{
						font-weight: 700;
						font-size: 1.4rem;
						text-align: center;
						margin: 0 0 0 0;
					}
				}
				:last-child {
					padding-right: 0px;
					border-right: none;
				}
			}
		}
		.marketPlaceBtn{
			margin-top: 15px;
			a{
				text-decoration: none
			}
			.marketplace-container{
				height: 59px;
				width: 314px;
				box-sizing: border-box;
				border: none;
				border-radius: 11px;
				outline: none;
				color: white;
				padding: 0 20px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				background: linear-gradient(to left,#6781f9,#e364be) !important;
				.marketplace-icon{
					height: 30px;
    			margin-right: 10px;
					border-style: none;
				}
				.marketplace-text{
					font-weight: 900;
				}
			}
		}
	}
}
@include Tablet_Mobile(){
	.purchase-detail-container{
		.collectible .infoContainer .collectible-info-boxes{
			flex-wrap: wrap;
				justify-content: center;
			.info{
				padding: 0 5px;
			}
		} 
		.back-purchase-list{
			top: 85px;
			left: -5px;
			z-index: 10;
			height: 40px;
			width: 75px;
		}
	}

}
@include Tablet(){
	.purchase-detail-container{
		.collectible .infoContainer .collectible-info-boxes{
			width: 450px;
		} 
	}
}
@include Mobile(){
	.purchase-detail-container{
		.collectible .infoContainer .collectible-info-boxes{
			width: 357px;
		} 
	}
}