$page-content-width: min(100vw, 1380px);
$page-content-width-tablet: min(100vw, 728px);
$page-content-width-mobile: min(100vw, 385px);
$white-color-primary: #fff;
$pink-color-primary: #e364be;
$dark-color-primary: #444444;
$dark-color-39: #393939;
$dark-color-70: #707070;
$font-dark-color-15: #ffffff26;
$dark-color-green: #00b861;
$header-mobile-height: 2.125rem;
$header-height: 3.125rem;
