$page-content-width: min(100vw, 1380px);
$pink-color-white: #fff;
$pink-color-primary: #e364be;
$dark-color-primary: rgba(0, 0, 0, 0.6);
$dark-color-39:#393939;
$dark-color-70: #707070;
$font-dark-color-15: #ffffff26;
$dark-color-green: #00b861;

$header-height:3.125rem;
