//arrow carousel featured collections
@import '../helpers/variables';
.arrow-featured-collections {
  position: relative;
  .arrow-one {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    bottom: 95px;
    left: 0;
    transform: translateX(-40%);
    cursor: pointer;
    .arrow-left {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  .remove-arrow {
    display: none;
  }
  .arrow-two {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    bottom: 95px;
    right: -15px;
    cursor: pointer;
    .arrow-right {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  @media (max-width: 1024px) {
    .arrow-one {
      left: 15px;
    }
    .arrow-two {
      right: 0;
    }
  }
  @media (max-width: 639px) {
    .arrow-one {
      bottom: 118px;
      left: 5px;
    }
    .arrow-two {
      bottom: 118px;
      right: -10px;
    }
  }
}

// arrow carousel hot collectibles and free drops

.custom-arrow-carousel {
  position: relative;
  .arrow-one {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    bottom: 190px;
    left: 0;
    transform: translateX(-40%);
    cursor: pointer;
    .arrow-left {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  .remove-arrow {
    display: none;
  }
  .arrow-two {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    bottom: 190px;
    right: -15px;
    cursor: pointer;
    .arrow-right {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  @media (max-width: 1024px) {
    .arrow-one {
      left: 15px;
    }
    .arrow-two {
      right: 0;
    }
  }
  @media (max-width: 639px) {
    .arrow-one {
      bottom: 220px;
      left: 5px;
    }
    .arrow-two {
      bottom: 220px;
      right: -10px;
    }
  }
}
//arrow carousel banner main page
.banner-main-carousel {
  $temp: calc((100% - min(calc(100% - 80px), 1200px)) / 2);
  .arrow-one {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    left: $temp;
    transform: translateX(-40%);
    cursor: pointer;
    .arrow-left {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  .arrow-two {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    right: $temp;
    transform: translateX(40%);
    cursor: pointer;
    .arrow-right {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  @media (max-width: 1024px) {
    .arrow-one {
      left: 55px;
    }
    .arrow-two {
      right: 40px;
      transform: unset;
    }
  }
  @media (max-width: 639px) {
    .arrow-one {
      left: 25px;
    }
    .arrow-two {
      right: 10px;
    }
  }
  &:hover {
    .arrow-one {
      background: #ffffff;
    }
    .arrow-two {
      background: #ffffff;
    }
  }
}

//arrow carousel item details
.arrow-item-details {
  position: absolute;
  width: 100%;
  margin: auto;
  z-index: 51;
  display: flex;
  align-items: center;
  .arrow-one {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    left: 0;
    cursor: pointer;
    .arrow-left {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
  .remove-arrow {
    display: none;
  }
  .arrow-two {
    width: 40px;
    height: 40px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
    .arrow-right {
      img {
        padding: 9px 0 0 9px;
      }
    }
  }
}
