//footer
@import '../helpers/global';
@import '../helpers/variables';

//footer
.footer {
  // padding: 50px 200px;
  // margin: 0px auto;
  // min-height: 215px;
  background-color: #02021e;
  .line-first {
    margin-bottom: 44px;
  }
  .wrapper-footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #ffffff;
    max-width: 1280px;
    gap: 64px;
    margin: 0px auto;
    padding: 0 40px;
    .navbar-footer {
      grid-area: navbar-footer;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 152px;
      // margin-right: 64px;

      .list-nav {
        display: flex;
        flex-direction: column;

        .nav-item-name {
          margin-top: 0;
        }

        .nav-item {
          text-decoration: none;
          color: #aaaaaa;
          margin-bottom: 15px;
          font-size: 15px;
          text-align: left;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    .logo-footer {
      grid-area: logo-footer;
      width: 180px;

      img {
        width: 100%;
      }
    }

    .list-page {
      grid-area: list-page;
      .content-head {
        font-size: 16px;
        color: #aaaaaa;
        padding: 20px 0 30px 0;
      }
      .social-networks {
        display: flex;
        // justify-content: space-between;
        gap: 20px;

        .social-item {
          width: 32px;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
  .line-second {
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    max-width: 1200px;
    margin: 55px auto 22px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
    max-width: 1280px;
    margin: auto;
    // padding-bottom: 28px;
    padding: 0 40px 28px;
    .contact-us {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .icon-contact {
        width: 24px;
        height: 24px;
        opacity: 0.6;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .wrapper-footer {
      .navbar-footer {
        grid-gap: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 32px;
      }
    }
  }
  @media (max-width: 1000px) {
    // padding: 0 40px;
    .wrapper-footer {
      flex-direction: column-reverse;
      gap: 30px;
      .navbar-footer {
        grid-gap: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 0;
      }
      .footer-right {
        .list-page {

          .social-networks {
            gap: 0;
            justify-content: space-between;
          }
        }
      }
    }
  }
  @media (max-width: 520px) {
    padding: 0 20px;
    .wrapper-footer {
      padding: 0;
      .navbar-footer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px 16px;
      }
      .footer-right {
        .content-head {
          font-size: 14px;
        }
      }
    }
    .footer-bottom {
      flex-direction:column-reverse;
      padding: 0;
      padding-bottom: 28px;
      .contact-us {
        margin-bottom: 16px;
        justify-content: flex-start;
      }
    }
  }
  @media (max-width: 355px) {
    .wrapper-footer {
      .footer-right {
        .content-head {
          font-size: 12px;
        }
      }
    }
    .footer-bottom {
      font-size: 14px;
    }
  }
}
