//footer
@import '../helpers/global';
@import '../helpers/variables';

//footer
.footer {
  padding: 50px 200px;
  background-color: #202631;
  margin: 0px auto;
  min-height: 215px;

  .wrapper-footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #ffffff;
    max-width: 1380px;
    gap: 64px;

    .navbar-footer {
      width: 100%;
      grid-area: navbar-footer;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-column-gap: 100px;
      // margin-right: 64px;

      .list-nav {
        display: flex;
        flex-direction: column;

        .nav-item-name {
          margin-top: 0;
        }

        .nav-item {
          text-decoration: none;
          color: #ffffff;
          margin-bottom: 5px;
          font-size: 15px;
          transition: all 0.15s ease-in-out 0s;
          text-align: left;

          &:hover {
            transform: translateY(-0.3125rem);
          }
        }
      }
    }

    .logo-footer {
      grid-area: logo-footer;
      width: 150px;

      img {
        width: 100%;
      }
    }

    .list-page {
      grid-area: list-page;

      .social-networks {
        display: flex;
        // justify-content: space-between;
        gap: 20px;

        .social-item {
          width: 32px;

          &:hover {
            transform: translateY(-0.3125rem);
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .wrapper-footer {
      .navbar-footer {
        grid-gap: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 32px;
      }
    }
  }
  @media (max-width: 1000px) {
    padding: 50px 40px;
    .wrapper-footer {
      flex-direction: column-reverse;
      gap: 30px;
      .navbar-footer {
        grid-gap: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 0;
      }
      .footer-right {
        .list-page {
          .social-networks {
            gap: 0;
            justify-content: space-between;
          }
        }
      }
    }
  }
  @media (max-width: 520px) {
    padding: 50px 20px;
    .wrapper-footer {
      .navbar-footer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px 16px;
      }
    }
  }
}

