@import '../helpers/variables';
@import '../helpers/mixin';
.nav-bar {
  padding-top: 30px;
  color: #ffffff;
  position: relative;

  .nav-home {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0px;
    background-image: linear-gradient(
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
    opacity: 0.4;
  }
  .nav-other-page {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0px;
    background: #003577;
    opacity: 1;
  }
  .main-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: auto;

    .logo-header {
      width: 110px;

      img {
        width: 100%;
      }
    }

    .search-bar {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin: 0px 30px 0px 15px;
      height: calc(50px - 5px);
      background-color: #ffffff1a;
      border-radius: 50vh;
      position: relative;
      flex: 1 1 0%;

      .search-icon {
        margin: 0px 5px 0px 20px;
        line-height: 50px;
        width: 18px;
        height: 18px;
      }

      .input-search {
        width: calc(100% - 60px);
        display: block;
        margin: 0px -15px 0px 0px;
        padding: 0px;
        height: 100%;
        color: white;
        font-size: 100%;
        background-color: transparent;
        border: 0px;
        overflow: visible;
        outline: none;
      }
    }

    .contact-header {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      font-size: 16px;
      font-weight: 600;

      a {
        margin-right: 15px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        font: inherit;
      }
    }

    .fanpage-icons {
      padding-left: 20px;
      padding-right: 5px;
      border-left: 1px solid #ffffff;
      height: 30px;

      a {
        margin-right: 15px;
        display: inline-block;
        height: 100%;
        cursor: pointer;
        width: 28px;

        img {
          width: 100%;
        }
      }
    }

    .btn-login {
      padding: 0px 15px;
      margin: 0px;
      border-radius: 40px;
      background: linear-gradient(90deg, #2061e2, #b07cfe);
      overflow: hidden;

      .custom-btn {
        background-color: transparent;
        text-decoration: none;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: left;

        .custom-text {
          background-color: transparent;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 50px;
          color: white;
        }
      }
    }
  }
}

//navbar tablet and mobile
.navbar-mb {
  //navbar tablet
  padding-top: 30px;
  color: #ffffff;
  position: relative;
  padding-bottom: 0;
  .nav-home {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0px;
    background-image: linear-gradient(
      rgb(0, 0, 0),
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
    opacity: 0.4;
  }
  .nav-other-page {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0px;
    background: #003577;
    opacity: 1;
  }
  .main-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $page-content-width-tablet;
    position: relative;
    z-index: 10;
    margin: auto;
    // padding: 0 20px;
    .logo-header {
      width: 110px;

      img {
        width: 100%;
      }
    }

    .search-bar {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin: 0px 30px 0px 15px;
      height: calc(50px - 5px);
      background-color: #ffffff1a;
      border-radius: 50vh;
      position: relative;
      flex: 1 1 0%;
      margin: 0px 9px;
      height: $header-mobile-height;
      .search-icon {
        margin: 0px 5px 0px 20px;
        width: 14px;
        height: 14px;
      }

      .input-search {
        width: calc(100% - 60px);
        display: block;
        margin: 0px -15px 0px 0px;
        padding: 0px;
        height: 100%;
        color: white;
        font-size: 100%;
        background-color: transparent;
        border: 0px;
        overflow: visible;
        outline: none;
      }
    }
  }
  //navbar mobile
  @include Mobile() {
    .main-header-box {
      width: $page-content-width-mobile;
      .logo-header {
        width: 70px;
        img {
          width: 100%;
        }
      }
    }
  }
}
