.collection-container {
  .box-collection {
    .my-collection-items {
      margin: 0px;
      width: 100%;
      position: relative;
      display: grid;
      grid-gap: 20px;
      gap: 20px;
      place-items: center;
      max-width: 1200px;
      grid-template-columns: repeat(4, 1fr);

      a {
        background: #030b15;
        color: #fff;
        border-radius: 15px;
        border: 1px solid #444444;

        .item_product {
          width: 282px;
          height: 375px;
          display: flex;
          flex-flow: row wrap;
          border-radius: 15px;
          overflow: hidden;
          transition: transform 0.15s ease-in-out 0s;
          cursor: pointer;
          margin: 0px;

          .collection-img {
            text-align: center;
            width: 100%;
            margin: auto;

            img {
              width: 100%;
              object-fit: contain;
              height: 242px;
            }
          }

          .info-product {
            text-align: left;
            padding-top: 18px;

            .padding-bottom {
              // padding-top: 5px;

              span {
                color: #aaaaaa;
                font-size: 12px;
              }
            }

            button {
              font-size: 12px;
              border-radius: 3px;
              background: #1aa0ff;
              padding: 3px 20px;
              margin-right: 10px;
            }

            p {
              padding-top: 13px;
              margin: 0;
              font-size: 16px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }

          .item_product_detail {
            flex: 1 1;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 20px;
            width: 50%;
            font-size: 0.6875rem;
            margin: 0 auto;
          }
        }
        &:hover {
          transform: scale(1.05);
          transition: 0.5s;
          border: 1px solid #2f8af5;
        }
      }
    }
    .table-my-collection {
      overflow-x: auto;
      table {
        border-collapse: separate;
        border-spacing: 0 1em;
        white-space: nowrap;
        min-width: 1200px;
        tr {
          td {
            font-size: 14px;
            width: 25%;
            padding: 15px 20px;
            vertical-align: baseline;

            img {
              width: 18px;
              cursor: pointer;
            }
          }
        }

        td:first-child {
          border-radius: 10px 0 0 10px;
        }

        // Set border-radius on the top-right and bottom-right of the last table data on the table row
        td:last-child {
          border-radius: 0 10px 10px 0;
        }

        .tr-header td {
          font-weight: 700;
          color: #0095ff;

          &:nth-child(1) {
            align-items: center;
            display: flex;
            cursor: pointer;
          }
        }

        .bg {
          background: rgba(255, 255, 255, 0.08);

          .td-p {
            .title-be-rewarded {
              color: #aaaaaa;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1280px) {
    .box-collection {
      .my-collection-items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @media (max-width: 1000px) {
    .box-collection {
      .my-collection-items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media (max-width: 670px) {
    .box-collection {
      .my-collection-items {
        grid-template-columns: repeat(1, 1fr);
        a {
          width: 100%;
          .item_product {
            width: 100%;
            .item_product_detail {
              .info-product {
                p {
                  white-space: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}

//  detail
.collectibles-item-details-container {
  .btn-back {
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    width: 100px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    img {
      padding-right: 5px;
    }
  }

  .product-details {
    .go-to-opensea {
      display: flex;
      justify-content: center;
      font-size: 24px;
      border: 1px solid #0095ff;
      padding: 10px;
      text-align: center;
      color: #0095ff;
      font-weight: 800;
      cursor: pointer;
      gap: 10px;
      align-items: center;
      .arrow-go-opensea {
        width: 24px;
        height: 24px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .wrapper-right {
      width: 50%;
      padding-right: 20px;

      .header-product {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatar {
          display: flex;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .userName {
            padding-left: 10px;

            p {
              font-size: 12px;
              margin: 0;
            }

            b {
              font-size: 14px;
            }
          }
        }
      }

      .info-product {
        .status {
          display: flex;
          align-items: center;
          padding-bottom: 25px;
          padding-top: 10px;
        }

        button {
          margin-right: 10px;
          background: #1aa0ff;
          color: white;
          font-size: 12px;
          border-radius: 5px;
        }

        span {
          font-size: 12px;
          color: #aaaaaa;
        }

        .des {
          font-size: 14px;
          color: #aaaaaa;
          padding-bottom: 30px;
        }

        .level-status {
          font-size: 14px;
        }

        .utility {
          margin-top: 30px;
          padding: 20px;
          background: rgba(255, 255, 255, 0.08);
          border-radius: 10px;

          p {
            font-size: 14px;
          }

          .content {
            display: flex;
            justify-content: space-between;
          }
        }

        .lv {
          b {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .box-collection {
    .item_product {
      //   width: 100% !important;
    }
  }
}

@media (max-width: 900px) {
  .collectibles-item-details-container {
    .product-details {
      .wrapper-right {
        padding: 30px;
        width: 100%;
      }
    }
  }

  .box-collection {
    .item_product {
      //   width: 100% !important;
    }
  }
}
@media (max-width: 639px) {
  .box-collection {
    .collection-items {
      // grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}
