.none-pc {
  display: none;
}

@media (max-width: 900px) {
  .home-page {
    .section-01 {
      .content-header {
        .text-head {
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }

    .section-service {
      .info-service {
        text-align: center;
        padding-top: 44px;
        flex-direction: column;
        .info-text {
          .btn-go {
            margin-top: 0;
            margin-bottom: 10px;
          }
        }
      }

      .img-service,
      .shake-vertical {
        display: none;
      }
    }

    .section-qa {
      .none-mobile {
        display: none;
      }

      .list-qa {
        .accordion {
          .accordion-body {
            height: auto;
          }
        }
        .title {
          //   padding-top: 30px;
        }
      }
    }

    .none-pc {
      display: block;
    }
  }

  .none-mobile {
    display: none;
  }

  .section-roadMap-mobile {
    .img-center {
      text-align: center;
    }
    .wrapper-roadmap-head {
      background-image: url('../../assets/img/bannerRoadMap_mb01.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% center;
      padding: 0 20px;
      .title-roadmap {
        color: white;
        text-align: center;
        padding: 50px 0;
        font-weight: 700;
        font-size: 36px;
      }

      .phase {
        box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px,
          rgb(0 0 0 / 22%) 0px 15px 12px;
        background: #16273d;
        color: #0095ff;
        width: 100%;
        margin: 0 auto 30px;
        border-radius: 10px;
        padding: 10px;
        min-height: 181px;
        .flex-end {
          display: flex;
          justify-content: flex-end;
        }

        p {
          margin: 0px;
          color: white;
          padding-left: 10px;
        }

        ul {
          li {
            list-style: none;
          }
        }
        .empty-step {
          color: #ffffff;
          opacity: 0.5;
          margin-top: 1rem;
        }
      }

      .Phase-right {
        color: aliceblue;
        text-align: right;
      }
    }

    .partner-advisor {
      background-image: url('../../assets/img/bannerRoadMap_mb02.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% center;
      padding: 50px 20px;
      .title-partner-advisor {
        color: #ffffff;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
      }
      img {
        padding-top: 50px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 540px) {
  .home-page {
    .section-01 {
      .content-header {
        .text-head {
          padding-top: 0 !important;

          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
    .section-service {
      .info-service {
        img {
          width: 100%;
        }
        .info-text {
          text-align: center;

          .btn-go {
            margin-top: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
    .section-roadMap-mobile {
      .wrapper-roadmap-head {
        .title-roadmap {
          font-size: 28px;
        }
      }
      .partner-advisor {
        .title-partner-advisor {
          font-size: 28px;
        }
        img {
          padding-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .home-page {
    .section-01 {
      .content-header {
        .text-head {
          padding-top: 0 !important;
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }

    .section-service {
      .info-service {
        .info-text {
          .btn-go {
            margin-top: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
